.cart_container {
  display: flex;
  max-width: 1300px;
  margin: 2rem auto;
  position: relative;
}

.cart_container h2 {
  margin-bottom: 1rem;
}

.cart_container__left {
  flex: 0.7;
  margin-right: 1rem;
  background: transparent;
  padding: 1rem;
}

.cart_container__right {
  flex: 0.3;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  height: fit-content;
}

.cart_container__right div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}
.cart_container__right div button {
  display: flex;
  justify-content: center;
  padding: 10px 17px;
  width: 100%;
  background: #171717;
  color: #f4f4f4;
  border: 1px solid #171717;
  cursor: pointer;
}

.cart_container__info p {
  padding: 8px;
}

.cart_container__info p:last-child {
  font-weight: bold;
}

.cart_container__right div:last-child {
  border: none;
}

.cart_container__right div button:hover {
  opacity: 0.9;
}

.close {
  display: none;
}

.btn_open {
  display: inline;
  position: absolute;
  right: 0;
  top: 20px;
}

.open {
  display: inline;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  background-color: none;

  z-index: 99;
}

@media (max-width: 1320px) {
  .cart_container {
    max-width: 900px;
  }
}

@media (max-width: 960px) {
  .cart_container {
    max-width: 800px;
  }
}

@media (max-width: 960px) {
  .cart_container {
    flex-direction: column;
  }

  .cart_container__right {
    margin: 1rem;
  }
}
