.cart {
  padding-left: 60px;
  padding-right: 60px;
}

.cart_product {
  position: relative;
  border: 1px solid black;
}

.cartDeleteBtn {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  display: flex;
  justify-content: center;
}
