.cartproduct {
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
  gap: 8px;
  background: #fff;
  border-radius: 2px;
  place-items: center;
  align-items: center;
  justify-items: center;
  margin-bottom: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  height: fit-content;
}

.cartproduct__name {
  text-decoration: none;
  color: #171717;
  text-transform: capitalize;
}

.cartproduct__name:hover {
  color: #dd219e;
}

.cartproduct__select {
  padding: 10px 17px;
}

.cartproduct__deleteBtn {
  color: red;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.cartproduct__deleteBtn:hover,
.carproduct__deleteBtn:active,
.carproduct__deleteBtn:focus {
  transform: scale(1.2);
}

@media (max-width: 700px) {
  .cartproduct__name {
    font-size: 0.8rem;
  }

  .cartproduct__select {
    padding: 8px 13px;
  }

  .cartproduct__price {
    font-size: 0.8rem;
  }
}

@media (max-width: 700px) {
  .cartproduct__name {
    font-size: 0.6rem;
  }

  .cartproduct__select,
  .cartproduct__deleteBtn {
    padding: 5px 8px;
  }

  .cartproduct__price {
    font-size: 0.6rem;
  }
}
